// Colors
$color-primary: #FF3F3A;
$color-gray-400: #D7DADD;
$color-gray-600: #9A9CA5;
$color-gray-800: #424551;
$color-gray-900: #1E212C;
$color-white: #FFFFFF;

// Typography
$font-family-base: 'Lato', sans-serif;

// Spacing

// Breakpoints

