// Colors
$color-primary: #ff3f3a;
$color-danger: #ff4242;
$color-gray-300: #e5e8ed;
$color-gray-400: #d7dadd;
$color-gray-600: #9a9ca5;
$color-gray-700: #787a80;
$color-gray-800: #424551;
$color-gray-900: #1e212c;
$color-white: #ffffff;

// Badge colors
$color-badge-marketing: #03cea4;
$color-badge-management: #5a87fc;
$color-badge-hr: #f89828;
$color-badge-design: #f52f6e;
$color-badge-development: #7772f1;

// Typography
$font-family-base: 'Lato', sans-serif;
