// Colors
$color-primary: #FF3F3A;
$color-danger: #FF4242;
$color-gray-300: #E5E8ED;
$color-gray-400: #D7DADD;
$color-gray-600: #9A9CA5;
$color-gray-700: #787A80;
$color-gray-800: #424551;
$color-gray-900: #1E212C;
$color-white: #FFFFFF;

// Badge colors
$color-badge-marketing: #03CEA4;
$color-badge-management: #5A87FC;
$color-badge-hr: #F89828;
$color-badge-design: #F52F6E;
$color-badge-development: #7772F1;

// Typography
$font-family-base: 'Lato', sans-serif;

// Spacing

// Breakpoints

